.accordion-item__button {
  @include font-size($font-size-base);
  @include border-radius(0);
  @include transition($accordion-transition);
  align-items: center;
  background-color: $accordion-button-bg;
  border: 0;
  color: $accordion-button-color;
  display: flex;
  padding: $accordion-button-padding-y $accordion-button-padding-x;
  position: relative;
  width: 100%;

  &--show {
    background-color: $accordion-button-active-bg;
    box-shadow: inset 0 ($accordion-border-width * -1) 0 $accordion-border-color;
    color: $accordion-button-active-color;

    .icon {
      transform: rotate(180deg);
    }
  }

  &--collapsed {
    background-color: $accordion-button-bg;
    color: $accordion-button-color;
  }

  .btn__inner {
    justify-content: space-between;
    width: 100%;
  }

  &:focus {
    border-color: $accordion-button-focus-border-color;
    box-shadow: $accordion-button-focus-box-shadow;
    outline: 0;
    z-index: 1;
  }
}

.accordion-item__header {
  margin-bottom: 0;
  width: 100%;
}

.accordion-item {
  background-color: $accordion-bg;
  border: $accordion-border-width solid $accordion-border-color;
  color: color-contrast($accordion-bg);

  &:first-of-type {
    @include border-top-radius($accordion-border-radius);

    .accordion-item__button {
      @include border-top-radius($accordion-inner-border-radius);
    }
  }

  &:not(:first-of-type) {
    border-top: 0;
  }

  &:last-of-type {
    @include border-bottom-radius($accordion-border-radius);

    .accordion-item__button--collapse {
      @include border-bottom-radius($accordion-inner-border-radius);
    }

    .accordion-item__body {
      @include border-bottom-radius($accordion-border-radius);
    }
  }
}

.accordion-item__body {
  @include transition($transition-collapse);
  height: 0;
  overflow: hidden;
}

.accordion-item__body-inner {
  margin: $accordion-body-padding-y $accordion-body-padding-x;
}

.accordion--flush {
  .accordion-item__body {
    border-width: 0;
  }

  .accordion-item {
    @include border-radius(0);
    border-left: 0;
    border-right: 0;

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    .accordion-item__button {
      @include border-radius(0);
    }
  }
}
