@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rippleEffect {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(100);
  }
}

@keyframes rippleEffect {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(100);
  }
}
