.btn {
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  @include transition($btn-transition);
  background-color: transparent;
  border: $btn-border-width solid transparent;
  color: $body-color;
  cursor: if($enable-button-pointers, pointer, null);
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  position: relative;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  user-select: none;
  vertical-align: middle;
  white-space: $btn-white-space;

  &:hover {
    color: $body-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  &:focus {
    box-shadow: $btn-focus-box-shadow;
    outline: 0;
  }

  &:active,
  &.active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    @include box-shadow(none);
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
  }

  &.btn__icon {
    //position: relative;
    @include button-size(
      $btn-icon-padding-y,
      $btn-icon-padding-x,
      $btn-font-size,
      $btn-border-radius
    );
  }
}

.btn__inner {
  align-items: center;
  display: flex;
  justify-content: center;

  &--loading {
    visibility: hidden;
  }
}

.btn__loading-icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn--lg {
  &.btn__icon {
    .btn__prefix-icon,
    .btn__suffix-icon {
      align-items: center;
      display: flex;
      height: 30px;
      justify-content: center;
      width: 30px;
    }
  }
}

.btn--sm {
  &.btn__icon {
    .btn__prefix-icon,
    .btn__suffix-icon {
      align-items: center;
      display: flex;
      height: 21px;
      justify-content: center;
      width: 21px;
    }
  }
}

.btn__prefix-icon {
  & + .btn__content {
    margin-left: 0.5rem;
  }
}

.btn__content {
  & + .btn__suffix-icon {
    margin-left: 0.5rem;
  }
}

.btn__content {
  align-items: center;
  display: flex;
}

@each $color, $value in $theme-colors {
  .btn--#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn--outline-#{$color} {
    @include button-outline-variant($value);
  }
}

.btn--link {
  border: none;
  color: currentColor;
  font-weight: $font-weight-normal;
  text-decoration: none;

  &:hover {
    color: currentColor;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    text-decoration: $link-hover-decoration;
    outline: 1px solid currentColor;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }
}

.btn--lg {
  &.btn__icon {
    @include button-size(
      $btn-icon-padding-y-lg,
      $btn-icon-padding-x-lg,
      $btn-font-size-lg,
      $btn-border-radius-lg
    );
  }
}

.btn--sm {
  &.btn__icon {
    @include button-size(
      $btn-icon-padding-y-sm,
      $btn-icon-padding-x-sm,
      $btn-font-size-sm,
      $btn-border-radius-sm
    );
  }
}

.btn--lg {
  &:not(.btn__icon) {
    @include button-size(
      $btn-padding-y-lg,
      $btn-padding-x-lg,
      $btn-font-size-lg,
      $btn-border-radius-lg
    );
  }
}

.btn--sm {
  &:not(.btn__icon) {
    @include button-size(
      $btn-padding-y-sm,
      $btn-padding-x-sm,
      $btn-font-size-sm,
      $btn-border-radius-sm
    );
  }
}
