.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  &.nav-form {
    .nav-link {
      padding: 0;
    }
  }
}

.nav-link {
  @include font-size($nav-link-font-size);
  @include transition($nav-link-transition);
  color: $nav-link-color;
  cursor: pointer;
  display: block;
  height: inherit;
  font-weight: $nav-link-font-weight;
  text-decoration: if($link-decoration == none, null, none);
  flex: 1;
  padding: $nav-link-padding-y $nav-link-padding-x;

  &:hover,
  &:focus {
    color: $nav-link-hover-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    cursor: not-allowed;
  }

  &.dropdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    & > .dropdown {
      align-self: flex-start;
      width: 100%;
      .btn--link {
        width: 100%;
        display: flex;
        justify-content: flex-start !important;
        .btn__inner {
          width: inherit;
          justify-content: inherit;
        }
      }
    }
  }
}

//
// Tabs
//

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-link {
    @include border-top-radius($nav-tabs-border-radius);
    background: none;
    border: $nav-tabs-border-width solid transparent;
    margin-bottom: -$nav-tabs-border-width;

    &:hover,
    &:focus {
      border-color: $nav-tabs-link-hover-border-color;
      // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
      //isolation: isolate;
    }

    &.disabled {
      background-color: transparent;
      border-color: transparent;
      color: $nav-link-disabled-color;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;
    color: $nav-tabs-link-active-color;
  }

  .nav-item {
    position: relative;
  }

  .dropdown-menu-wrapper {
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
    left: 0;
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    top: 100%;
  }
}

//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius($nav-pills-border-radius);
    background: none;
    border: 0;
  }

  .nav-link.active,
  .show > .nav-link {
    @include gradient-bg($nav-pills-link-active-bg);
    color: $nav-pills-link-active-color;
  }

  .nav-item {
    position: relative;
  }

  .dropdown-menu-wrapper {
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
    left: 0;
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    top: 100%;
  }
}

//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

.nav-fill,
.nav-justified {
  .nav-item .nav-link {
    width: 100%; // Make sure button will grow
  }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}
