.popover-target {
  display: inline-block;
}

.popover {
  @include reset-text();
  @include font-size($popover-font-size);
  @include border-radius($popover-border-radius);
  @include box-shadow($popover-box-shadow);
  background-clip: padding-box;
  background-color: $popover-bg;
  border: $popover-border-width solid $popover-border-color;
  max-width: $popover-max-width;
  word-wrap: break-word;
}

//// Offset the popover to account for the popover arrow
.popover-header {
  @include font-size($font-size-base);
  @include border-top-radius($popover-inner-border-radius);
  background-color: $popover-header-bg;
  border-bottom: $popover-border-width solid $popover-border-color;
  color: $popover-header-color;
  margin-bottom: 0; // Reset the default from Reboot
  padding: $popover-header-padding-y $popover-header-padding-x;

  &:empty {
    display: none;
  }
}

.popover-body {
  color: $popover-body-color;
  padding: $popover-body-padding-y $popover-body-padding-x;
}

.popover-arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  svg {
    filter: drop-shadow(0px -1px 0px rgba(0, 0, 0, 0.3));
  }
}

.popover[data-popper-placement^='bottom'] {
  & > .popover-arrow {
    color: #f0f0f0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%) rotate(0deg);
  }
}

.popover[data-popper-placement^='top'] {
  & > .popover-arrow {
    color: #ffffff;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -40%) rotate(180deg);
  }
}

.popover[data-popper-placement^='left'] {
  & > .popover-arrow {
    color: #ffffff;
    top: 50%;
    left: 100%;
    transform: translate(-40%, -50%) rotate(90deg);
  }
}

.popover[data-popper-placement^='right'] {
  & > .popover-arrow {
    color: #ffffff;
    top: 50%;
    left: 0;
    transform: translate(-60%, -50%) rotate(-90deg);
  }
}
